# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# ==============
# Visual Studio
# ==============
*.suo
*.user
*.ncb
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.sdf
*.opensdf
allegro.log

# =================
# pmprog Framework
# =================
*.cfg

# =================
# OpenApoc Data
# =================
[Dd]ata/HELP/
[Dd]ata/MAPS/
[Dd]ata/RAWSOUND/
[Dd]ata/SAVEGAME/
[Dd]ata/SCENARIO/
[Dd]ata/SMK/
[Dd]ata/SOUND/
[Dd]ata/TACDATA/
[Dd]ata/TACEXE/
[Dd]ata/UFODATA/
[Dd]ata/UFOEXE/
[Dd]ata/UFOPAEDI/
[Dd]ata/MUSIC

# Netbeans project folder
nbproject/

# Default "out-of-source build" directory
build/