[submodule "dependencies/tinyxml2"]
	path = dependencies/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/JonnyH/glm.git
	branch = 0.9.6
[submodule "dependencies/physfs"]
	path = dependencies/physfs
	url = https://github.com/JonnyH/physfs-hg-import.git
[submodule "dependencies/icu55"]
	path = dependencies/icu55
	url = https://github.com/JonnyH/icu55.git
[submodule "dependencies/SDL2"]
	path = dependencies/SDL2
	url = https://github.com/sfalexrog/SDL2_OA
