[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/JonnyH/glm.git
	branch = 0.9.6
[submodule "dependencies/physfs"]
	path = dependencies/physfs
	url = https://github.com/JonnyH/physfs-hg-import.git
[submodule "dependencies/pugixml"]
	path = dependencies/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "dependencies/libsmacker"]
	path = dependencies/libsmacker
	url = https://github.com/JonnyH/libsmacker.git
[submodule "dependencies/miniz"]
	path = dependencies/miniz
	url = https://github.com/JonnyH/miniz.git
[submodule "dependencies/lodepng"]
	path = dependencies/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "dependencies/lua"]
	path = dependencies/lua
	url = https://github.com/lua/lua.git
[submodule "dependencies/fmt"]
	path = dependencies/fmt
	url = https://github.com/fmtlib/fmt.git
